/* ***** Custom properties **** */
:root{
    /*== colors ***/
    --blue: rgb(79, 125, 243);
    --blue-light: rgb(194, 211, 255);
    --blue-dark: rgb(21, 31, 41);
    --red: rgb(255, 82, 99);
    --gray: rgb(150, 150, 150);
}

/* ***** Reset **** */
html{
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--blue);
}

h1{
    font-size: 1.25rem;
    font-weight: 300;
    color: var(--gray);
    text-align: center;
    line-height: 2.625rem;
}

h2{
    font-size: .6875rem;
    font-weight: 300;
    color: var(--blue-dark);
}

@media (min-width: 768px) {
    h1{
        font-size: 2.75rem;
        line-height: 4.25rem;
    }

    h2{
        font-size: 1.25rem;
    }
}


/* ***** Components **** */
.footer{
    min-height: 3rem;
    text-align: center;
    line-height: 3rem;
    font-size: .75rem;
    color: var(--gray);
}



/* ***** Utilities **** */
.container{
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

.hidden{
    display: none;
}

/* ***** Site styles **** */
body{
 padding: 1.5rem;
}

/* == header == */
header.container{
    height: .9375rem;
    margin: 3.8125rem auto 2.09375rem auto;
    text-align: center;
}

header.container img{
    height: .9375rem;
    width: auto;
}

/* == heading == */
.hgroup{
    text-align: center;
}

h1 span{
    font-weight: 700;
    color: var(--blue-dark);
}

h2{
    line-height: 2.0625rem;
}

/* == form == */
.form{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

input,
.btn{
    height: 2.5rem;
    width: 100%;
    border-radius: 1.25rem;
    font-size: .625rem;
    margin-bottom: .625rem;
}

input[type="email"]{
    border: .5px solid var(--blue-light);
    padding-left: 2.5rem;
}

input[type="email"]::placeholder{
    color: var(--blue-light);
}

input[type="email"]:focus-visible{
    outline: 1px solid var(--blue);
}

.btn[type="submit"]{
    font-size: .6875rem;
    font-weight: 700;
    color: white;
    border: .5px solid var(--blue);
    background-color: var(--blue);
    cursor: pointer;
    box-shadow: 0 .3125rem .9375rem .3125rem var(--blue-light);
    transition:  opacity .3s ease-in-out;
}

.btn[type="submit"]:hover{
    opacity: .9;
}

.form__error{
    display: inline-block;
    width: 100%;
    font-size: .625rem;
    font-style: italic;
    text-align: center;
    color: var(--red);
    margin-top: -.125rem;
    margin-bottom: 1.5rem;
}

/* == hero == */
.hero img{
    margin: 1.875rem 0 .625rem;
    width: 100%;
    height: auto;
}


/* == media == */
.media{
    margin: 1.0625rem 0;
    text-align: center;
}

.media a{
    display: inline-block;
    height: 1.875rem;
    border: .5px solid var(--blue-light);
    padding: .5rem;
    border-radius: 50%;
    transition: 
        border .3s ease-in-out,
        background-color .3s ease-in-out;
}

.media a:not(.media:last-child){
    margin-right: .75rem;
}

.media a svg{
    height: 100%;
    width: auto;
    transition: fill .3s ease-in-out;
}

.media a:hover{
    border: .5px solid var(--blue);
    background-color: var(--blue);
}

.media a:hover svg{
    fill: white;
}

/* == copyright == */

.copyright{
    padding: .75rem 0;
    text-align: center;
    font-size: .625rem;
    color: var(--gray);
}

/* == form porcess ==*/
.form__process{
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form__process p{
    color: var(--blue-light);
    font-size: 8vw;
    font-weight: 700;
}

@media (min-width: 768px) {
    body{
        padding: 2.375rem;
    }

    header.container{
        height: 1.5rem;
        margin: 3rem auto;
    }

    header.container img{
        height: 1.5rem;
    }

    h2{
        line-height: 2.75rem;
    }

    .form{
        flex-direction: row;
        padding: 1.75rem 0;
        justify-content: space-between;
    }

    input,
    .btn[type="submit"]{
        height: 3.5rem;
        border-radius: 1.75rem;
        font-size: 1rem;
        margin-bottom: 0;
    }

    .form__input-required{
        flex-basis: 210%;
        margin-right: 1rem;
    }

    .hero img{
        margin: 5.6rem 0;
    }

    .form__error{
        margin-top: .75rem;
        padding-left: 1.75rem;
        font-size: .75rem;
        text-align: left;
    }

    .form__process p{
        font-size: 4vw;
    }
}